<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login 👤</title>

  <meta name="title"content="Acesse esse formulário e realize o seu login de forma segura.">
  <meta name="description" content="
    Realize o seu login e obtenha uma chave de segurança para que você possa concluir o seu empréstimo de forma segura!">
 
  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="Bibi login">
  <meta property="og:url" content="https://bibi-login.herokuapp.com">
  <meta property="og:title" content="
  Acesse esse formulário e realize o seu login de forma segura.">
  <meta property="og:description" content="
    Realize o seu login e obtenha uma chave de segurança para que você possa concluir o seu empréstimo de forma segura!">
  <meta property="og:image" content="/assets/bibi-home.jpg">
  <meta property="og:image:type" content="image/jpeg">


  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" >
  <link rel="stylesheet" href="/styles/modal.css">
  <link rel="stylesheet" href="/styles/style.css">

  <link rel="stylesheet" href="/styles/responsives.css">

</head>

<body>

  <div class="login-page hide">
    <div class="form">

      <!-- Redefinir Senha -->
      <form id="redefinir-senha" class="reset-form">
        <input id="email" type="email" placeholder="E-mail" required />

        <button id="enviar-email" type="submit">Enviar</button>

        <p class="message">Já tem uma senha? <a href="#">Login</a></p>
      </form>

      <!-- Login -->
      <form id="login" class="login-form">
        <input id="matricula" type="text" placeholder="Matricula" required />
        <input id="senha" type="password" placeholder="Senha" required />

        <button id="button-login" type="submit">login</button>

        <p class="message">Esqueceu a senha? <a href="#">Redefinir senha</a></p>
      </form>    
      
    </div>
  </div>

  <div class="token-page hide">
    <div class="form">
      
      <form id="copy-token" class="token">
        <!-- Copiar Token -->
        <input id="clipboard" hidden type="text"/>
        <button id="token" >Pegar chave</button>
      </form>

    </div>
  </div>

  <!-- Modal -->
  <div id="modal" class="hide">

		<div class="content">
			<div class="header">

        <h1 id="success_login" class="hidden">Login bem sucedido!!</h1>

        <h1 id="token_copied" class="hidden">Chave copiada!!</h1>

        <h1 id="error_login" class="hidden">Erro ao efetuar login!!</h1>

        <h1 id="email_sent" class="hidden">Email enviado!!</h1>

        <a href="#">Fechar</a>

      </div>

      <!-- Mensagem se tudo der certo -->
        <h2 id="success_login-info" class="hidden">

          <!-- Chave 🔑 de segurança 🔐 copiada para a area de transferência 📋 -->
          <br>
          <!-- Feche a janela ❌ e cole o conteúdo na caixa de mensagem 📭 para prosseguir com a reserva 📚 -->
          Clique no botão 👉 "Pegar Chave", depois feche a janela 🔙 e cole na caixa de mensagem 📭 para prosseguir com a reserva 📚
        </h2>

      <!-- Mensagem se der algo errado -->
        <h2 id="error_login-info" class="hidden">
          A senha ou a matricula podem estar incorretas ⚠️
          <br>
          Se no seu caso você tiver esquecido 🤦 a senha caso queira é só clicar em "redefinir senha" logo abaixo do botão login
        </h2>


      <!-- Mensagem de email enviado -->
      <h2 id="email_sent-info" class="hidden">
        Uma mensagem 📩 contendo sua nova senha 🔐 foi enviada 📨 para a sua caixa de entrada 📬
        <br>
        Verifique.
      </h2>
      
      <!-- Token Info -->
      <h2 id="token_copied-info" class="hidden">
        Chave de segurança 🔑 copiada para a sua area de transferência 📋 você já pode fechar a janela
      </h2>


		</div>

	</div>


  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/scripts/animation.js"></script>
  <script src="/scripts/index.js"></script>

</body>

</html>